.limitWidth {
    /* padding-left: 20px; */
    /* padding-top: 20px; */

    width: 450px;
}

.limitWidthButton {
    width: 40px;
}

.positionBodyPart {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
    /* padding-top: 20px; */
}

td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3) {
    text-align: left;
}

/* table {
    border: 1 solid red;
} */

.numCol {
    width: 10%;
}

.nameCol {
    width: 40%;
}

.statusCol {
    width: 20%;
}

.actionCol {
    width: 30%;
}

